<!DOCTYPE html>
<!-- views/branches.ejs -->
<html lang="en">
<head>
    <% include partials-login/head %>
    <style>
* {
    margin: 0;
    padding: 0;
  }
  h3{
    font: 25px/1 Helvetica, Verdana, sans-serif;
  }
   
  .list {
    margin: 50px;
  }
   
  .list ul {
    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
  }
   
  .list li {
    /* height: 25px; */
    /* float: left; */
    margin-right: 0px;
    border-bottom: 1px solid #aaa;
    padding: 20px;
    text-decoration: none;
    font: 20px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;  }
   
  .list li:last-child {
    border-right: none;
  }
   
  .list li a {
    text-decoration: none;
    color: #ccc;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: rgb(39, 151, 114);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    background-color: rgb(45, 218, 218);
}
/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-child {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
    </style>
</head>
<body class="container">
    <header>  
            <% if(!login){%>
                <% include partials-login/header %>          
            <%} else{ %>
                <%include partials-logout/header %>           
                <%}%>
           
    </header>
    <main>
        <h3>Our Flowers</h3>
        <!-- Button to open the modal -->
<button onclick="document.getElementById('id02').style.display='block'">Add Flower</button>
<!-- The Modal (contains the Sign Up form) -->
<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content animate" id="add-flower-form" role="form" enctype="multipart/form-data">
    <div class="container">
      <label><b>Flower</b></label>
      <input type="text" placeholder="Enter Flower Name" id="name" name="name" required>
      <input type="text" placeholder="Enter Flower Color" id="color" name="color" required>
      <input type="number" placeholder="Enter Flower price" id="cost" name="cost" required>
      </br></br><input id="upload-input" type="file" name="upload-input">
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="addflowerbtn">Add</button>
      </div>
    </div>
    <script>
        $('#add-flower-form').submit(async e=>{
            e.preventDefault();
           let formData=new FormData();
           formData.append('name',$("#name").val());
           formData.append('color',$("#color").val());
           formData.append('cost',$("#cost").val());
           formData.append('image',$("#upload-input").get(0).files[0]);
           try {
                await fetch('http://localhost:3000/createFlower', { method: "POST", body: formData});
                alert("Add flower successfully complete");
           } catch (error) {
              alert("Add flower failed");
            }
      });
      </script>
  </form>
</div>
<div class="list">

<ul>
        <% catalog.forEach(function(flower) { %>
            <li><b><%= flower.name %>, </b> <%= flower.color %> cost:  <%= flower.cost %> NIS
             <img src="<%= flower.image %>" height="60"/></li>
        <% }); %>
</ul>
</div>
</main>
<footer>
    <% include partials-login/footer %>
</footer>
</body>
</html>    