<!DOCTYPE html>
<!-- views/branches.ejs -->
<html lang="en">
<head>
    <% include partials-login/head %>
    <style>
* {
    margin: 0;
    padding: 0;
  }
  h3{
    font: 25px/1 Helvetica, Verdana, sans-serif;
  }
   
  .list {
    margin: 50px;
  }
   
  .list ul {
    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
  }
   
  .list li {
    /* height: 25px; */
    /* float: left; */
    margin-right: 0px;
    border-bottom: 1px solid #aaa;
    padding: 20px;
    text-decoration: none;
    font: 20px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;  }
   
  .list li:last-child {
    border-right: none;
  }
   
  .list li a {
    text-decoration: none;
    color: #ccc;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
    </style>
</head>
<body class="container">
    <header>  
            <% if(!login){%>
                <% include partials-login/header %>          
            <%} else{ %>
                <%include partials-logout/header %>           
                <%}%>
           
    </header>
    <main>
        <h3>Our Flowers</h3>
<div class="list">

<ul>
        <% flowers.forEach(function(flower) { %>
            <li><b><%= flower.name %>, </b> <%= flower.color %> cost:  <%= flower.cost %> NIS
             <img src="<%= flower.image %>" height="60"/></li>
        <% }); %>
</ul>
</div>
</main>
<footer>
    <% include partials-login/footer %>
</footer>
</body>
</html>    