<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">
<head>
    <% include partials-login/head %>
</head>
<body class="container">
    <header>  
      <% include partials-login/header %>          
               
    </header>
    <main>
       <img src="https://s-media-cache-ak0.pinimg.com/avatars/zer4u_1392295375_280.jpg"/>
    </main>
    <footer>
        <% include partials-login/footer %>
    </footer>
</body>
</html>
