<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">
<head>
    <% include partials-login/head %>
</head>
<body class="container">
    <header>  
            <% if (!login){%>
                <% include partials-login/header %>          
            <%} else { %>
                <% include partials-logout/header %>          
            <%}%>                
    </header>
    <main>
       <img src="/flower.jpg" height="100"/>
    </main>
    <footer>
        <% include partials-login/footer %>
    </footer>
</body>
</html>
