<ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Catalog</a></li> -->
    <li><a href="#">Users Managment</a></li>
    <li><a href="#">Branches Managment</a></li>        
    <li><a href="#">Contact Us</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a id="mySpan" onclick="javascript:$"><span class="glyphicon glyphicon-log-in" ></span> Logout</a>
      <!-- <buttontype="button" class="btn btn-default btn-lg" id="myBtn">Login</button>-->
    </li>